*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(84, 108, 129);
    font-size: 30;
}
.hero{
    height:100vh;
    width:100%;
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(https://i.pinimg.com/736x/4f/bf/4a/4fbf4a76ffcb16ed41dbf70616fc5e32.jpg);
    background-size: cover;
    background-position: center;

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding-left: 10px;
    padding-right: 10px;
}
.logo{
    color:rgb(84, 108, 129);
    font-size: 40;
}
span{
    color: blue;
    font-size: 40;
}

nav ul li{
    color: rgb(241, 243, 240);
    list-style-type: none;
    display: inline-block;
    padding:10px 20px;
}
nav ul il a{
    color: rgb(245, 245, 220);
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
color: blue;  
transition: 0.3s;
}
